body {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: black;
}

:root {
  --animation-height: 768px;
  --animation-width: 1366px;
  --road-height: 140px;
  --cyclist-height: 148px;
  --cyclist-width: 187px;
}

@keyframes sprite {
  from { background-position: 0% 0; }
  to { background-position: 100% 0; }
}

@keyframes moveScene {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-100% + var(--animation-width))) }
}

@keyframes hillClimb {
  0% { transform: rotate(0); }
  40% { transform: rotate(0); }
  47.5% { transform: rotate(8deg) translateY(-50px); }
  57.5% { transform: rotate(8deg) translateY(-50px); }
  62.5% { transform: rotate(0deg); }
}

@keyframes hillClimbBycicle {
  0% { transform: rotate(0); }
  40% { transform: rotate(0); }
  47.5% { transform: rotate(8deg) translateY(5px) translateY(-50px); }
  57.5% { transform: rotate(8deg) translateY(5px) translateY(-50px); }
  62.5% { transform: rotate(0deg); }
}

@keyframes showPopulusWind {
  0% { opacity: 0; }
  30% { opacity: 0; }
  36% { opacity: 1; }
  38% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}

.animation {
  position: relative;
  overflow: hidden;

  display: flex;
  height: var(--animation-height);
  width: var(--animation-width);
  background-color: #E2F2EF;
}

.mountain-road-animation {
  height: 100%;
  animation: hillClimb linear 70s infinite;
}

.mountain-cyclist-animation {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  animation: hillClimbBycicle linear 70s infinite;
}

.mountain-road-animation__white-foreground {
  position: absolute;
  top: calc(100% - var(--road-height));
  left: -50%;

  height: 500px;
  width: 200%;
  background-color: white;
}

.animation__cyclist {
  position: absolute;
  bottom: calc(var(--road-height) - 3px);
  left: 50%;
  transform: translateX(-50%);

  height: var(--cyclist-height);
  width: var(--cyclist-width);
  background:  url('../img/cyclist/cyclist.svg') no-repeat;
  
  animation: sprite 1.5s steps(13) infinite;
}

.animation__scenery {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(-1 * (var(--road-height) - 140px)));
  
  height: 100%;
  width: 100%;
}

.animation__scenery__scenes {
  position: absolute;
  top: 0;
  
  display: flex;
  height: 100%;
}

.animation__scenery__scenes--road {
  animation: moveScene linear 5s infinite reverse;
}

.animation__scenery__scenes--background,
.animation__scenery__scenes--foreground {
  animation: moveScene linear 70s infinite reverse;
}

.animation__scenery__scenes--sky {
  animation: moveScene linear 120s infinite;
}

.animation__scenery__scenes__scene {
  height: 100%;
  min-width: var(--animation-width);
}

.animation__scenery__scenes__scene--flat {
  background: url('../img/background/flat.svg');
}

.animation__scenery__scenes__scene--trees {
  background: url('../img/background/trees.svg');
}

.animation__scenery__scenes__scene--church {
  background: url('../img/background/church.svg');
}

.animation__scenery__scenes__scene--populus {
  background: url('../img/background/populus.svg');
}

.animation__scenery__scenes__scene--motor {
  background: url('../img/background/motor.svg');
}

.animation__scenery__scenes__scene--village {
  background: url('../img/background/village.svg');
}

.animation__scenery__scenes__scene--birds {
  background: url('../img/background/birds.svg');
}

.animation__scenery__scenes__scene--airplane {
  background: url('../img/background/airplane.svg');
}

.animation__scenery__scenes__scene--finish {
  background: url('../img/background/finish.svg');
}

.animation__scenery__scenes__scene--finish-front-part {
  background: url('../img/background/finish-front-part.svg');
}

.animation__scenery__scenes__scene__extra {
  height: 100%;
  width: 100%;
}

.animation__scenery__scenes__scene__extra--populus {
  background: url('../img/background/populus-wind.svg');
  animation: showPopulusWind linear 70s infinite;
}